registry=http://10.10.90.191:8081/repository/nx-npm-group/
init.author.name=Pipeline
init.author.email=pipeline@naranja.com
init.author.url=https://cmprod.naranja.com.ar/engineering
email=pipeline@naranja.com
always-auth=true
unsafe-perm=true

